youtube-transcript-api 
langchain-community 
langchain-groq               
faiss-cpu 
tiktoken 
python-dotenv
langchain-google-genai
ipykernel
langchain

langchain-core
pymupdf

sentence-transformers
chromadb